{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Jeux Olympiques France</title>
</head>
<body>
<a href="{% url 'commande' %}" id="nombre-reservation">🧺Panier</a>
{% if user.is_authenticated %}
<p>Bienvenue,{{user.first_name}} !</p>
<a href="{% url 'deconnexion' %}">Déconnexion</a>
{% else %}
<a href="{% url 'connexion' %}">Se connecter</a>
{% endif %}

<!-- block pour contenu spécifique à la page-->
{% block content %}
{% endblock content %}

<!-- block pour js specifique à la page ,réutilisable-->
{% block js %}
<script src="{% static 'JoBooking/script.js' %}"></script>
{% endblock %}

</body>
</html>