{% extends 'index.html' %}
{% load static %}
{% block content %}
<div>
    <h2>OFFRES</h2>
</div>

{% for offre in offres %}
<ul>
    <li id="aa{{ offre.id }}">{{offre.title}}</li>   <!-- id = id de l'object mais comme déja utilisé ajout de "aa" pour identifiant unique -->
    <li>{{offre.description}}</li>
    <li>{{offre.price}}</li>
</ul>
{% if user.is_authenticated %}
    <button class="btn-reservation" data-offre-id="{{ offre.id }}">Réserver</button>
{%else%}
<a href="{% url 'connexion' %}"></a>
{% endif %}


{% endfor %}

{% endblock content %}

{% block js %}
<script src="{%static 'JoBooking/script.js' %}"></script>
{% endblock %}
