{% extends 'index.html' %}
{% load static %}
{% block content %}
<div>
    <h2>OFFRES</h2>
</div>

{% for offre in offres %}
<ul>
    <li>{{offre.title}}</li>
    <li>{{offre.description}}</li>
    <li>{{offre.price}}</li>
</ul>
{% if user.is_authenticated %}
    <button class="btn-reservation" data-offre-id="{{ offre.id }}">Réserver</button>
<!-- <a href="{% url 'ajouter_reservation' offre.id %}">Réserver</a> -->
{%else%}
<a href="{% url 'connexion' %}"></a>
{% endif %}


{% endfor %}

{% endblock content %}

{% block js %}
<script src="{%static 'JoBooking/script.js' %}"></script>
{% endblock %}
