{% load static %}
{% block content %}
    <img class="logo-panier" src="{% static 'JoBooking/images/logo paris.png' %}"   alt="Logo" width="70" height="70" />
    <h1 class="mon-panier"> Mon panier</h1>

<div class="conteneur-panier">
<div class="details">
<span class="offre-nom">Offre</span>
<span class="nb-billets">Nombre de Billets</span>
<span class="offre_prix">Prix</span>
</div>
{% if commandes_impayees %}
{% for commande in commandes_impayees %}
    <div class="offre">
    <h2>{{commande.offre.title}}</h2>
    <div class="infos-offre">
    <span>{{commande.offre.billet}}</span>
    <span>{{commande.offre.price}}€</span>
    <button class="btn-supprimer" data-offre-id="{{ commande.offre.id }}">X</button>
    </div>
    </div>
{% endfor %}
{% endif %}
</div>

<div class="cadre-panier">
    <h4 class="recap" > Récapitulatif de la commande</h4>
    <div class="offre-recap" >
        {% if commandes_impayees %}
            {% for commande in commandes_impayees %}
                <div class="offre-recap-items" data-offre-id="{{ commande.offre.id }}">
                    <h2>{{commande.offre.title}}</h2>
                    <h3>{{commande.offre.price}}€</h3>
                </div>
            {% endfor %}
        {% else %}
            <p style="color: red">Aucun élément dans le panier</p>
        {% endif %}
    </div>
    <button id="btn-annulation">Annuler</button>
<a class="btn-validation" href="{% url 'paiement' %}">Valider la commande </a>
</div>


 {% block css %}
        <link rel="stylesheet" href="{% static 'JoBooking/reservation_style.css' %}">
    {% endblock css %}
{% endblock content %}


{% block js %}
<script src="{% static 'JoBooking/script.js' %}"></script>
{% endblock %}

