/* images page*/
.img-background{
    position: absolute;
    width: 600px;
    height: 633px;
    top: 0;
    left: 0;

}

.logo{
    position: absolute;
    top: 10px;
    right:5px;
    width: 60px;
    height:60px;
}


/* champ du formulaire général*/
form input[type=text],
form input[type=email],
form input[type=password]{
    border-radius: 10px;
    width: 450px;
    height: 35px;
    border:2px solid #EAEAEA;
    margin-bottom:5px;
    color: #B0A9A9;
}
/*Boutons*/
#btn-auth , #btn-auth-connexion,#btn-verification{
    box-sizing: border-box;
    border:1px solid #EAEAEA;
    border-radius: 10px;
    background: #D6C278;
    position: absolute;
    margin-left: 55px;
    width: 430px;
    height:60px;
    color:white;
    font-size: 15px;
}


/* POUR PAGE INSCRIPTION */

label{
    color: lightsteelblue;
}

/* cadre formulaire inscription */
.cadre-formulaire{
    box-sizing: border-box;
    border: 1px solid #D6C278;
    border-radius: 26px;
    padding: 20px;
    position: absolute;
    width: 600px;
    height: 600px;
    top: 20px;
    right: 70px;
}

.cadre-formulaire h2{
    text-align: center;
    font-family:"Inter Semi Bold", sans-serif;
    margin-top: -10px;
}


/* connexion membre*/
.cadre-formulaire .membre  {
    position: absolute;
    bottom: 0;
    right: 200px;
    color:  #333333;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:  #333333;
    font-weight: bold;
}


/* bouton s'inscrire */

#btn-auth{
    top: 460px;

}
/* POUR PAGE CONNEXION */
.cadre-formulaire-connexion {
    box-sizing: border-box;
    border: 1px solid #D6C278;
    border-radius: 26px;
    padding:30px;
    position: absolute;
    width: 600px;
    height:350px;
    top:80px;
    right: 70px;
}

.cadre-formulaire-connexion h2{
    text-align: center;
    font-family:"Inter Semi Bold", sans-serif;
    margin-top: -10px;
}

/* connexion membre*/
.cadre-formulaire-connexion .membre  {
    position: absolute;
    bottom: 0;
    right: 200px;
    color: #333333;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:  #333333;
    font-weight: bold;
}

/* bouton connexion */
#btn-auth-connexion {
    top: 220px;
}


/* PAGE VERIFICATION EMAIL et EMAIL_VERIFIE*/

h1{
    text-align: center;
    margin-top: 50px;
    color: #61A7B0;
}

.cadre-verification{
    margin-top: 150px;
    box-sizing: border-box;
    border: 1px solid #D6C278;
}

#btn-verification{
   left: 400px;
}

.alert{
    color: red;
}

.img-background3{
    position: absolute;
    top: 40px;
    margin-left: 600px;
    height: 100px;
}
/* PAGE INSCRIPTION REUSSIE*/
.logo-inscription-reussie {
   position: absolute;
    top: 0;
    left: 50%;
}


.bloc-inscription-reussie{
    position: absolute;
    width:561px;
    height: 81px;
    left: 410px;
    top: 200px;
}

.inscription-reussie{
    font-size: 68px;
    color: #D6D6D6;
    font-weight: bold;
}




