.contenu-offre{
    color: #606F7B;
    margin: 10px;
    padding: 0;
    float: left;
    overflow: hidden;
}

.contenu-offre ul{
    list-style-type: none;
    margin: 20px;
    padding: 10px;
}

/* Titre des offres*/

.titre-offre{
    font-size: 22px;
    color: black;
    font-family: "Inter Semi Bold", sans-serif ;
    list-style-type: none;
}

/* prix des offres*/

.prix-offre{
    font-size: 35px;
    font-weight: bold;
    color: black;
    list-style-type: none;

}

/* description des offres*/

.description-offre{
    color: #606F7B;
    font-weight: bold;
    list-style-type: none;

}
/* promo des offres*/

.promo-text{
    color: #30D12C;
    margin: 25px;
    font-weight: bold;

}


.avertissement{
    color: #D6C278;
}

/* bouton réserver*/
.btn-reservation{
    font-size: 16px;
    background-color: white;
    font-family: Inter sans-serif;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.offre-liste {
    list-style-type: none;
}

.position-btn-reservation{

    margin: 100px;
    padding:0;

}

