
.top-controle {
    clear: both;
}

body {
    margin: 0; /* Supprimer les marges par défaut du corps */
    padding: 0; /* Supprimer le rembourrage par défaut du corps */
}

header {
    display: flex;
    align-items: center; /* Centrer verticalement les éléments dans le conteneur flex */
    height: 70px;
}

/*barre de nav*/
.nav-menu {
    height: 70px;
    width: 694px;
    position: absolute;
    top: 0; /* Aligner en haut de la page */
    right: 0; /* Aligner à droite de la page */
    display: flex; /* Utiliser le modèle de boîte flexible pour les enfants directs */
    align-items: center; /* Centrer verticalement les éléments dans la barre de navigation */
    justify-content: space-between; /* Espacement égal entre les éléments à l'intérieur de la barre de navigation */
}

li {
    list-style-type: none;
    color: white;
    display: inline-block;
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin-right: 200px;
}

div.rebours {
    flex-grow: 1;
    color: red;

}